<div class="dds__dropdown" data-dds="dropdown" id="simple-list-dropdown" data-selection="single" data-select-all-label="Select all">
    <div class="dds__dropdown__input-container">
      <label id="dropdown-label-578210048" for="dropdown-control-578210048" class="dds__label">Label</label>
      <div class="dds__dropdown__input-wrapper" autocomplete="off" aria-haspopup="listbox" aria-controls="simple-list-dropdown-popup">
        <input
          id="simple-list-dropdown-input"
          name="simple-list-dropdown-name"
          type="text"
          role="combobox"
          class="dds__dropdown__input-field"
          aria-labelledby="simple-list-dropdown-label simple-list-dropdown-helper"
          autocomplete="off"
          aria-expanded="false"
          aria-controls="simple-list-dropdown-list"
        />
        <small id="simple-list-dropdown-helper" class="dds__input-text__helper">Helper Text</small>
      </div>
    </div>
    <div id="simple-list-dropdown-popup" class="dds__dropdown__popup dds__dropdown__popup--hidden" role="presentation" tabindex="-1">
      <ul class="dds__dropdown__list" role="listbox" tabindex="-1" id="simple-list-dropdown-list">
        <li class="dds__dropdown__item" role="none">
          <button (click)="showMessage()" type="button" class="dds__dropdown__item-option" role="option" data-selected="false" data-value="1" tabindex="-1">
            <span class="dds__dropdown__item-label">List option 1</span>
          </button>
        </li>
        <li class="dds__dropdown__item" role="none">
          <button type="button" class="dds__dropdown__item-option" role="option" data-selected="false" data-value="2" tabindex="-1">
            <span class="dds__dropdown__item-label">List option 2</span>
          </button>
        </li>
        <li class="dds__dropdown__item" role="none">
          <button type="button" class="dds__dropdown__item-option" role="option" data-selected="false" data-value="3" tabindex="-1">
            <span class="dds__dropdown__item-label">List option 3</span>
          </button>
        </li>
        <li class="dds__dropdown__item" role="none">
          <button type="button" class="dds__dropdown__item-option" role="option" data-selected="false" data-value="4" tabindex="-1">
            <span class="dds__dropdown__item-label">List option 4</span>
          </button>
        </li>
      </ul>
    </div>
      <p  class="dds__p-2" *ngIf="show">You Selected the First Option</p>
  </div>